/*
*,:before,:after{
box-sizing:border-box;
margin:0;
padding:0;
/*transition * /
-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
outline:none;
font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
}
*/
#toggles{
width:60px;
margin:0px 40px 0px 40px;
text-align:center;
}
.ios-toggle,.ios-toggle:active{
position:absolute;
top:-5000px;
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:5px;
font-size:16px;
line-height:16px;
width:100%;
height:36px;
/*border-radius*/
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#cccccc;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
/*border-radius*/
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
/*box-shadow*/
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #bbbbbb;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #bbbbbb;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #bbbbbb;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-36px;
padding:10px;
height:100%;
width:36px;
text-align:right;
color:#bbbbbb;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
/*box-shadow*/
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:60px;
width:36px;
}
.ios-toggle-warning + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #ffcc00,0 0 0 2px #bbbbbb;
   -moz-box-shadow:inset 0 0 0 0px #ffcc00,0 0 0 2px #bbbbbb;
        box-shadow:inset 0 0 0 0px #ffcc00,0 0 0 2px #bbbbbb;
}
.ios-toggle-warning:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #ffcc00,0 0 0 2px #eea236;
   -moz-box-shadow:inset 0 0 0 20px #ffcc00,0 0 0 2px #eea236;
        box-shadow:inset 0 0 0 20px #ffcc00,0 0 0 2px #eea236;
}
.ios-toggle-warning:checked + .checkbox-label:after{
color:#eea236;
}
.ios-toggle-disabled + .checkbox-label{
background:#eeeeee;
color:#bbbbbb;
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
}
.ios-toggle-disabled + .checkbox-label:before{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #eeeeee,0 0 0 2px #dddddd;
}
.ios-toggle-disabled:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #FFE680,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 20px #FFE680,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 20px #FFE680,0 0 0 2px #dddddd;
}
.ios-toggle-disabled:checked + .checkbox-label:after{
color:#bbbbbb;
}

/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
#checkbox1:checked + .checkbox-label:after{
color:rgba(19,191,17,1);
}
/* RED CHECKBOX */

#checkbox2 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
}
#checkbox2:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
   -moz-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
        box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
}
#checkbox2:checked + .checkbox-label:after{
color:#f35f42;
}
/* BLUE CHECKBOX */

#checkbox3 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
   -moz-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
        box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
}
#checkbox3:checked + .checkbox-label:after{
color:#1fc1c8;
}


